/* Enter your custom styles here */
/* Full page background image */
.fullPageBackground {
    background-image: url("../resource/bg.jpg"); /* Replace with your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.formContainer {
    gap: 10px;
    background: rgba(255, 255, 255, 0.15); /* semi-transparent */
    backdrop-filter: blur(10px);           /* glass blur */
    -webkit-backdrop-filter: blur(10px);   /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.formLabel {
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.formButton {
    width: 200px;
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
}

